.main-wrapper{
    .px-to-rem(height, 773);
} 

.man-wrapper {
    left: 45%;
    width: 514px;
    height: 573px;
}

.circle-wrapper{
    left: 50%;
    top: 230px;
}

.circleL{
    display: initial;
}

.circleM{
    width: 68%;
    height: 68%;
   
}


