html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  vertical-align: top;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* =========================================
                  my pure and clear code)
========================================= */
html {
  font-size: 16px;
}
.main-wrapper {
  position: relative;
  max-width: 78.125rem;
  height: 24.0625rem;
  background: url('/img/topBackground.jpg') no-repeat center;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
}
.man-wrapper {
  position: absolute;
  bottom: 0;
  left: 22%;
  width: 415px;
  height: 461px;
}
.circle-wrapper {
  position: absolute;
  left: 40%;
  top: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 850px;
  min-height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.2) 100%);
}
.circleL {
  display: none;
}
.circleM {
  position: absolute;
  width: 58%;
  height: 58%;
}
.circleS {
  position: absolute;
  width: 35%;
  height: 35%;
}
.icon-wrapper {
  position: absolute;
  left: 10px;
  top: 150px;
  width: 100px;
  height: 100px;
  background: rgba(125, 130, 137, 0.7);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.svg-icon {
  fill: #ffff;
  width: 60px;
  height: 60px;
}
.icon-wrapperPlay {
  left: -36px;
  top: 417px;
  width: 70px;
  height: 70px;
}
.svg-icon_play {
  width: 45px;
  height: 45px;
}
.icon-wrapperSettings {
  left: 223px;
  top: 0;
  width: 70px;
  height: 70px;
  background: #8694a4;
}
.svg-icon_settings {
  width: 45px;
  height: 45px;
}
.icon-wrapperClouds {
  width: 80px;
  height: 80px;
  left: 206px;
  top: -37px;
  background: #a7b4c2bd;
}
.svg-icon_clouds {
  width: 50px;
  height: 50px;
}
.icon-wrapperTips {
  left: 10px;
  top: 18px;
  width: 60px;
  height: 60px;
  background: #a2aab3b0;
}
.svg-icon_tips {
  width: 30px;
  height: 30px;
}
.temp {
  padding-top: 2rem;
}
/* ==========================================
                 Media - 768px
==============================================*/
@media only screen and (min-width: 768px) {
  .main-wrapper {
    height: 48.3125rem;
  }
  .man-wrapper {
    left: 45%;
    width: 514px;
    height: 573px;
  }
  .circle-wrapper {
    left: 50%;
    top: 230px;
  }
  .circleL {
    display: initial;
  }
  .circleM {
    width: 68%;
    height: 68%;
  }
  .icon-wrapperClouds {
    width: 100px;
    height: 100px;
    left: 244px;
    top: -44px;
  }
  .svg-icon_clouds {
    width: 60px;
    height: 60px;
  }
  .icon-wrapperTips {
    left: 2px;
    width: 70px;
    height: 70px;
  }
  .svg-icon_tips {
    width: 38px;
    height: 38px;
  }
}
